    </div>
  </div>
  <br style="clear:both;"/>
  <br style="clear:both;"/>
  <footer class="footer">
    <div class="container-footer">
      <div class="row">
        <div class="row col-sm-12" style="padding-top: 10px;">
          <p>The <strong>National Center for Biomedical Ontology</strong> was founded as one of the National Centers for Biomedical Computing,
            supported by the NHGRI, the NHLBI, and the NIH Common Fund under grant U54-HG004028.</p>
        </div>

        <div class="row col-sm-12">
          <p>Copyright © 2005‑2017, The Board of Trustees of Leland Stanford Junior University. All rights reserved.</p>
        </div>

        <div class="row col-sm-12">
          <ul class="list-inline">
            <li><a target="_blank" href="https://www.bioontology.org/wiki/BioPortal_Help#How_to_cite_NCBO_and_BioPortal">CITE US</a></li>
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>

            <li><a target="_blank" href="https://www.bioontology.org/privacy.html">PRIVACY POLICY</a></li>
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            <li><a target="_blank" href="https://www.bioontology.org/terms.html">TERMS</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <%= javascript_include_tag "application" %>
</body>
</html>
